@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  margin: 36px auto 0;
  width: 1280px;
}
.app__cards {
  margin-top: 40px;
  padding: 4px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  background: linear-gradient(180deg, rgba(107, 125, 222, 0.12) 0%, #2921a5 100%);
  border-radius: 24px;
  width: calc(100% + 10px);
  transform: translate(-5px, -5px);
  height: calc(100% + 10px);
  border-color: 4px solid rgba(107, 125, 222, 0.24);
  box-shadow: 0px 24px 48px 0px rgba(23, 43, 151, 0.72);
}
.app__cards::before, .app__cards::after {
  content: "";
  -webkit-mask: url("../img/arrow.svg");
          mask: url("../img/arrow.svg");
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 92px;
  height: 40px;
  z-index: 1;
  top: 96px;
}
.app__cards::before {
  left: 380px;
}
.app__cards::after {
  left: 808px;
}
.app__title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #22284a;
}
.app__button {
  margin-top: 55px;
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  background: linear-gradient(180deg, #5dc416 0%, #367b05 100%);
  border: 3px solid rgba(149, 255, 75, 0.64);
  box-shadow: 0px 4px 8px 0px rgba(61, 147, 0, 0.48), 0px 0px 0px 4px rgba(91, 192, 20, 0.24);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(255, 255, 255);
  transform: translateX(400%);
}

.card {
  border-radius: 20px;
  width: 420px;
  height: 352px;
  position: relative;
}
.card__step-list {
  padding: 20px 20px 0px 20px;
  display: flex;
  gap: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(255, 255, 255);
}
.card_one {
  background: linear-gradient(180deg, #6377e1 0%, #2920a5 100%);
}
.card_one::before {
  content: "";
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.32) 0%, #475fdf 100%);
  width: calc(100% + 4px);
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  position: absolute;
  z-index: -1;
  transition: 0.3s;
}
.card_one:hover {
  background: linear-gradient(180deg, #657eff 0%, #2920a5 100%);
}
.card_one:hover::before {
  content: "";
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.32) 0%, #475fdf 100%);
  width: calc(100% + 12px);
  top: -6px;
  left: -6px;
  height: calc(100% + 12px);
  position: absolute;
  z-index: -1;
}
.card_two {
  background: linear-gradient(180deg, #e163e1 0%, #741595 100%);
}
.card_two::before {
  content: "";
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.32) 0%, #b247df 100%);
  width: calc(100% + 4px);
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  position: absolute;
  z-index: -1;
  transition: 0.3s;
}
.card_two:hover {
  background: linear-gradient(180deg, #fc69fc 0%, #741595 100%);
}
.card_two:hover::before {
  content: "";
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.32) 0%, #b247df 100%);
  width: calc(100% + 12px);
  top: -6px;
  left: -6px;
  height: calc(100% + 12px);
  position: absolute;
  z-index: -1;
}
.card_three {
  background: linear-gradient(180deg, #55ce00 0%, #014d1d 100%);
}
.card_three::before {
  content: "";
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.32) 0%, #3a8207 100%);
  width: calc(100% + 4px);
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  position: absolute;
  z-index: -1;
  transition: 0.3s;
}
.card_three:hover {
  background: linear-gradient(180deg, #5de101 0%, #014d1d 100%);
}
.card_three:hover::before {
  content: "";
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.32) 0%, #3a8207 100%);
  width: calc(100% + 12px);
  top: -6px;
  left: -6px;
  height: calc(100% + 12px);
  position: absolute;
  z-index: -1;
}
.card__img {
  width: 100%;
  height: 320px;
  transform: translateY(20px);
}
.card__number {
  padding: 12px 17px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
}
.card__number_one {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.32) 100%);
}
.card__number_one::before {
  content: "1";
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #2920a5 0%, #6377e1 100%);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: absolute;
  top: 2px;
  left: 2px;
}
.card__number_two {
  background: linear-gradient(180deg, #741595 0%, #e163e1 100%);
}
.card__number_two::before {
  content: "2";
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.32) 100%);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: absolute;
  top: 2px;
  left: 2px;
}
.card__number_three {
  background: linear-gradient(180deg, #014d1d 0%, #55ce00 100%);
}
.card__number_three::before {
  content: "3";
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.32) 100%);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: absolute;
  top: 2px;
  left: 2px;
}

@media (max-width: 480px) {
  .app {
    margin-top: 32px;
    width: 336px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .app__button {
    transform: translateX(0%);
    transform: translateY(20px);
  }
  .app__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .app__cards::before, .app__cards::after {
    -webkit-mask: url("../img/arrow_down.svg");
            mask: url("../img/arrow_down.svg");
    width: 40px;
    height: 90px;
    left: 310px;
  }
  .app__cards::before {
    top: 320px;
  }
  .app__cards::after {
    top: 680px;
  }
  .card {
    width: 328px;
    height: 352px;
  }
  .card__img {
    margin-left: -40px;
    width: 126%;
  }
}/*# sourceMappingURL=style.css.map */